*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#thumbnali{
    height: 20vh;
    width: 50vw;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    top: 3vh;
    left: 50%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
    overflow-x: scroll;
    overflow-y: hidden;
    color-scheme: dark;

}
#img-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.thumbnail-img{
    width: 130px;
    height: 130px;
}

.container{
    position: relative;
    background: #aad5f6;
} 

.slide-1 {
    background: url('./images/newyork.jpg')

}

.slide-2 {
    background: url('./images/dubai.jpg')

}

.slide-3 {
    background: url('./images/addis-ababa.jpg')

}

.slide{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}


.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: background 500ms;
}

.arr-img{
    width: 50px;
}
.arr-img:hover{
    background: rgba(0, 0, 0, 0.4);
}

.prev{
    left: 0;
}
.nxt{
    right: 0;
}